#events-display {
    background-color: lightgray;
}

#display {
    display: flex;
}

.img-div-large {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

#preview-img {
    height: auto;
    width: 100%;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#join-{
    background-color: red;
    color: white;
    box-shadow: 2px 2px black;
    height: 50px;
    font-size: 20px;
}

#organizer-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#organizer-buttons button{
    background-color: darkgray;
    color: white;
    box-shadow: 2px 2px black;
    height: 30px;
    font-size: 15px;
}

.event-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}
.event-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 200px;
    width: 300px;
}

.event-time {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: rgb(46, 70, 166);
}

.upper-event-card {
    display: flex;
    column-gap: 20px;
}

.event-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    border-top: 2px solid grey;
    padding-top: 5px
}

.event-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 0;
}

.event-location {
    color: grey;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}
