#group-events-display {
    background-color: lightgray;
}

#group-display {
    display: flex;
}

.group-img-div-large {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

#group-preview-img {
    height: 100%;
    width: auto;
    border: solid green;
}

#group-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#join-group {
    background-color: red;
    color: white;
    box-shadow: 2px 2px black;
    height: 50px;
    font-size: 20px;
}

#organizer-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#organizer-buttons button{
    background-color: darkgray;
    color: white;
    box-shadow: 2px 2px black;
    height: 30px;
    font-size: 15px;
}

.group-event-card {
    display: flex;
    border: 2px solid blue;
    column-gap: 20px;
}

.group-event-img {
    width: auto;
    height: 200px;
}

.group-event-time {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
